@{
    ViewBag.Title = "Home Page";
}
<div ng-controller="brandsCtrl">

    <div class="row main-content " ng-cloak>
        <h2 class="brands-title">Top Brands</h2>
        <div ng-repeat="brand in brands" class="col-md-3">
            <a class="btn btn-cart" ng-href="b/{{brand.name}}">
                <img class="brand-logo" ng-src="{{getBrandLogo(brand)}}" />
            </a>
        </div>
    </div>
</div>



